<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
    <meta charset="UTF-8">
    <title>ブログ一覧</title>
</head>

<body>

    <h1>ブログ一覧</h1>

    <p><a th:href="@{/blog/new}">新規投稿</a></p>
    <hr>

    <div th:each="blog : ${blogList}">
        <h3>
            <a th:href="@{/blog/{id}(id=${blog.id})}" th:text="${blog.title}">ブログのタイトル</a>
        </h3>
        <p>
            <small>投稿日時: <span th:text="${blog.createdAt}">2026-06-10</span></small>
        </p>
        <hr>
    </div>

    <br>
    <a th:href="@{/login}">ログイン画面へ</a>

</body>

</html>