<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
    <meta charset="UTF-8">
    <title>ブログ一覧</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

    <div class="nav-container">
        <button class="btn" th:onclick="|location.href='@{/}'|">ホーム</button>
        <button class="btn" th:onclick="|location.href='@{/blog/new}'|">投稿</button>
    </div>

    <h1>ブログ一覧</h1>
    <hr>

    <div th:each="blog : ${blogList}">
        <h3>
            <a th:href="@{/blog/{id}(id=${blog.id})}" th:text="${blog.title}">ブログのタイトル</a>
        </h3>
        <p>
            <small>投稿日時: <span th:text="${blog.createdAt}">2026-06-10</span></small>
        </p>
        <hr>
    </div>

    <br>
    <button class="btn" th:onclick="|location.href='@{/login}'|">ログイン画面へ</button>

</body>

</html>